button.choice {
	width: 90%;
}

.landing-button, .prompt-vote-button, .centered-row {
	text-align: center;
}

#prompt-vote-title {
	text-align: center;
}

.revealed-prompt, .revealed-author {
	display: inline;
	margin: 2px;
}
.revealed-prompt {
	font-size: 20pt;
}
.revealed-votes {
	margin: 2px;
}

html, body {
	height: 100%;
}

button.button-row {
	margin: 0 10px;
}

.literally {
	width: 100%;
}

#player-list {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 130px;
	flex-direction: row;
	flex-flow: wrap;
}

.player-name {
	display: block;
	margin: 10px;
	font-size: 20pt;
	text-transform: lowercase;
	text-align: center;
	background: #eee;
	padding: 0 8px;
	border-radius: 10px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.player-name{
	animation-duration: 1s;
	animation-name: fadein;
}

.container {
	/* from skeltal */
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	/* flex */
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	flex-direction: column;
	text-align: center;
}

body {
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
	font-weight: 600;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
