#timer {
	text-align: center;
}

button.choice {
	width: 90%;
}

button:disabled {
	background-color: grey;
	color: white;
}

.landing-button, .landing-field, .prompt-vote-button, .centered-row {
	text-align: center;
}

#prompt-vote-title {
	text-align: center;
}

.literally label {
	display: inline;
}

.player-name {
	display: block;
	margin: 2px;
	font-size: 20pt;
	text-transform: lowercase;
	text-align: center;
}

.revealed-prompt, .revealed-author {
	display: inline;
	margin: 2px;
}
.revealed-prompt {
	font-size: 20pt;
}
.revealed-votes {
	margin: 2px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	flex-direction: column;
}

html, body {
	height: 100%;
}

button.button-row {
	margin: 0 10px;
}
